# Environment
.env*
!.env.example

# Dependencies
node_modules/

# Build output
dist/
dist-test/

# IDE
.idea/
.vscode/

# Generated test output
test/**/*.js
test/**/*.d.ts
test/**/*.js.map
test/**/*.d.ts.map